<!---link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/icon.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/demo/demo.css"--->
<!---link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/default/easyui.css">
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.easyui.min.js"></script--->
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>

<script type="text/javascript">
$(function(){
    var dg = $('#dgAlumni').datagrid();
    dg.datagrid('enableFilter', []);
	$('#dlg_alumni').dialog('close');
	
});

	var objectToCSVRow = function(dataObject) {
		var dataArray = new Array;
		for (var o in dataObject) {
			var innerValue = dataObject[o]===null?'':dataObject[o].toString();
			var result = innerValue.replace(/"/g, '""');
			result = '"' + result + '"';
			dataArray.push(result);
		}
		return dataArray.join(' ') + '\r\n';
	}

	var exportToCSV = function(arrayOfObjects) {
		if (!arrayOfObjects.length) {
			return;
		}
		var csvContent = "data:text/csv;charset=utf-8,";
		// headers
		csvContent += objectToCSVRow(Object.keys(arrayOfObjects[0]));

		arrayOfObjects.forEach(function(item){
			csvContent += objectToCSVRow(item);
		}); 

		var encodedUri = encodeURI(csvContent);
		var link = document.createElement("a");
		link.setAttribute("href", encodedUri);
		link.setAttribute("download", "customers.csv");
		document.body.appendChild(link); // Required for FF
		link.click();
		document.body.removeChild(link); 
	}

	function jsonconvertstrings(alist){
		// convert a list/array of strings such as ["id1","id2"] into a json string 
		var jsonlist = '[';
		for(var i=0;i<alist.length;i++){
			var tem = alist[i];
			jsonlist = jsonlist + '"' + tem + '",';
		}
		if(jsonlist.length > 1){
			// remove last ","
			jsonlist = jsonlist.substring(0,jsonlist.length-1);
		}
		jsonlist = jsonlist + ']';
		//alert(json);
		return jsonlist;
	}

	function downloadTableAlumni2(response) {
        var newrows = $('#dgAlumni').datagrid('getRows');
		// download only those rows shown in the table
		//alert("download some");
		if (newrows.length==0){
			alert('No record in the table is selected for download.');
			return;
		}
		
		var allPosIds = [];
		for(var i=0; i<newrows.length; i++){
			var row = newrows[i];
			//alert(row.GrantComponentPK);
			allPosIds.push(row.id);
		}
			
		var downloadallterms = 0;
		if (!response){
			downloadallterms = 0;
		}
		else{
			// download all records in the database
			//alert("download all");
			downloadallterms = 1;
		}
		
		// retrieve filter value for Lab,
		var fieldname = 'unit';
		var filterRule = $('#dgAlumni').datagrid('getFilterRule', fieldname);
		var unitFilter = filterRule == null ? "None" : filterRule.value;
		//alert(unitFilter);
		
		//var field = filterRule == null ? "None" : filterRule.field;
		//var filterOperator = filterRule == null ? "contains" : filterRule.op;
		//alert(field);
		//alert(filterOperator);
		
		var allids = jsonconvertstrings(allPosIds);
		//alert(newrows.length);
		$.get('/alumni/download/',
			{
				unitfilter: unitFilter,
				allids: allids,
				downloadallterms: downloadallterms
			},
			function(data){
				var obj = jQuery.parseJSON(data);
				var msg = obj.message;
				var link = obj.link;
				var status = obj.status;
				if(!status){
					var msg2 = "Error in downloading table: <br/><br/>";
					msg2 += msg;
					$.messager.alert('Download table',msg2,'info');
					return;
				}
				else{
					window.location.href = link; 
					return;
				}
				window.location.href = '/alumni/alumnidb/'; 
			}
		);
    }
		
	function downloadTableAlumni() {
		downloadTableAlumni2(false);
		return;
		
		var msg = 'Do you want to retrieve all records?\n Click "No" for records on the current page';
		$.messager.defaults.ok = 'Yes';
		$.messager.defaults.cancel = 'No';
		$.messager.confirm('Download table', msg, function(r){
			downloadTableAlumni2(r);
		});
	}
	
	function downloadTableAlumniAll() {
		downloadTableAlumni2(true);
		return;
		
		var msg = 'Do you want to retrieve all records?\n Click "No" for records on the current page';
		$.messager.defaults.ok = 'Yes';
		$.messager.defaults.cancel = 'No';
		$.messager.confirm('Download table', msg, function(r){
			downloadTableAlumni2(r);
		});
	}
	
	function uploadAlumniDialogue() {
		$('#dlg_alumni').dialog('open');
		return;
    }
		

        var editIndexAlumni = undefined;
        function endEditing(){
            if (editIndexAlumni == undefined){return true}
            if ($('#dgAlumni').datagrid('validateRow', editIndexAlumni)){
                $('#dgAlumni').datagrid('endEdit', editIndexAlumni);
                editIndexAlumni = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field){
            if (editIndexAlumni != index){
                if (endEditing()){
                    $('#dgAlumni').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    var ed = $('#dgAlumni').datagrid('getEditor', {index:index,field:field});
                    if (ed){
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndexAlumni = index;
                } else {
                    setTimeout(function(){
                        $('#dgAlumni').datagrid('selectRow', editIndexAlumni);
                    },0);
                }
            }
        }
        function onEndEdit(index, row){
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: 'id'
            });
            //row.last_name_ki = $(ed.target).combobox('getText');
        }
        function append(){
            if (endEditing()){
				// this adds the new row at the bottom of the table
                //$('#dgAlumni').datagrid('appendRow',{status:'P'});
                $('#dgAlumni').datagrid('appendRow',{});
				// this adds the new row at the top of the table
				//$('#dgAlumni').datagrid('insertRow',{index:0});
                editIndexAlumni = $('#dgAlumni').datagrid('getRows').length-1;
                $('#dgAlumni').datagrid('selectRow', editIndexAlumni)
                        .datagrid('beginEdit', editIndexAlumni);
            }
        }
        function removeit(){
            if (editIndexAlumni == undefined){return}
			
			deleteSelectedFromDB();
			
			//$('#dgAlumni').datagrid('cancelEdit', editIndexAlumni)
            //    .datagrid('deleteRow', editIndexAlumni);
			//editIndexAlumni = undefined;
			
        }
        function accept(){
            if (endEditing()){
				getChanges();
				saveSelectedIntoDB();
                $('#dgAlumni').datagrid('acceptChanges');
            }
        }
        function reject(){
            $('#dgAlumni').datagrid('rejectChanges');
            editIndexAlumni = undefined;
        }
        function getChanges(){
            var rows = $('#dgAlumni').datagrid('getChanges');
            //alert(rows.length+' rows are changed!');
        }
		
		function saveSelectedIntoDB() {
			// save the row in editing into DB
			//var ss = [];
			//var ids = [];
			var records = [];
			var rows = $('#dgAlumni').datagrid('getChanges');
			if (rows.length==0){
				alert("You have not entered any new person!");
				return false;
			}
			else{
				//alert(rows.length+' persons are entered!');
			}
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				//alert(row.cancer_related);
				//alert(row.id);
				record = {}
				for(var key in row) {
					var value = row[key];
					///alert(value);
					record[key] = value;
				}
				//alert(row.id);
				//ids.push(row.id);
				records.push(record);
			}
			var msg = 'You have entered '
				+ rows.length
				+ ' persons for saving. Do you really want to save them: '
				//+ ids.join()
				+ '?';
			$.messager.confirm('Saving person', msg, function(r){
				if (r){
					//alert('Stop: A revision is in progress!');
					//return
				}
				else{
					return false;
				}
							
				var win = $.messager.progress({
					title:'Please wait',
					msg:'Saving record ...'
				});
				
				//setTimeout(function(){
				//    $.messager.progress('close');
				//},5000)
				
				//alert('confirmed: '+r);
				//alert(statusType);
				//var IDs = jsonconvertstrings(ids);
				$.get('/alumni/save/',
					{
						//ids: IDs,
						records: JSON.stringify(records)
					},
					function(data){
						$.messager.progress('close');
						var obj = jQuery.parseJSON(data);
						var msg = obj.message;
						var link = obj.link;
						//alert(link);
										
						var status = obj.status;
						if(!status){
							//alert(msg);
							var msg2 = "Error in deleting person. <br/><br/>";
							msg2 += msg;
							//msg2 += "<br/><br/>Refer to the csv file returned for more information.";
							$.messager.alert('Deleting person',msg2,'info');
							//window.location.href = link;
							//window.location.href = "/grant/funding/";
							return false;
						} 
				
						var msg = 'The following persons have been deleted from DB: ' + ids.join() + '!';
						//$.messager.alert('Deleting person',msg,'info');
						//window.location.href = link;
						//window.location.href = "/alumni/alumnidbs/";
						// instead of refreshing the table, just delete the row from table
						$('#dgAlumni').datagrid('cancelEdit', editIndexAlumni)
							.datagrid('deleteRow', editIndexAlumni);
						editIndexAlumni = undefined;
						
						return true;
					}
				);
				return true;
			});
			return true;
		}
		
		
		function deleteSelectedFromDB() {
			// Delete one row that is in cell editing
			//var ss = [];
			var ids = [];
			var rows = $('#dgAlumni').datagrid('getSelections');
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				//alert(row.id);
				ids.push(row.id);
			}
		
			if (rows.length==0){
				alert("You have not selected any row for deletion!");
				return false;
			}
		
			var msg = 'You have selected '
				+ rows.length
				+ ' persons for deletion. Do you really want to delete them: '
				+ ids.join()
				+ '?';
			$.messager.confirm('Deleting person', msg, function(r){
				if (r){
					//alert('Stop: A revision is in progress!');
					//return
				}
				else{
					return false;
				}
							
				var win = $.messager.progress({
					title:'Please wait',
					msg:'Deleting record ...'
				});
				
				//setTimeout(function(){
				//    $.messager.progress('close');
				//},5000)
				
				//alert('confirmed: '+r);
				//alert(statusType);
				var IDs = jsonconvertstrings(ids);
				$.get('/alumni/delete/',
					{
						//json: JSON.stringify(json)
						ids: IDs,
					},
					function(data){
						$.messager.progress('close');
						var obj = jQuery.parseJSON(data);
						var msg = obj.message;
						var link = obj.link;
						//alert(link);
										
						var status = obj.status;
						if(!status){
							//alert(msg);
							var msg2 = "Error in deleting person. <br/><br/>";
							msg2 += msg;
							//msg2 += "<br/><br/>Refer to the csv file returned for more information.";
							$.messager.alert('Deleting person',msg2,'info');
							//window.location.href = link;
							//window.location.href = "/grant/funding/";
							return false;
						} 
				
						var msg = 'The following persons have been deleted from DB: ' + ids.join() + '!';
						//$.messager.alert('Deleting person',msg,'info');
						//window.location.href = link;
						//window.location.href = "/alumni/alumnidbs/";
						// instead of refreshing the table, just delete the row from table
						$('#dgAlumni').datagrid('cancelEdit', editIndexAlumni)
							.datagrid('deleteRow', editIndexAlumni);
						editIndexAlumni = undefined;
						
						return true;
					}
				);
				return true;
			});
			return true;
		}
</script>
<script>

//var positions = [{positionid: 'Faculty', positionname: 'Faculty'},
//		{positionid: 'Grad/UROP Student', positionname: 'Grad/UROP Student'},
//		{positionid: 'Other', positionname: 'Other'},
//		{positionid: 'PDOC', positionname: 'PDOC'},
//		{positionid: 'Research Scientist', positionname: 'Research Scientist'},
//		{positionid: 'Staff', positionname: 'Staff'},
//		{positionid: 'Tech', positionname: 'Tech'},
//		{positionid: 'UROP Student', positionname: 'UROP Student'},
//		{positionid: 'Visiting Scientist', positionname: 'Visiting Scientist'},
//		{positionid: 'Visiting Student', positionname: 'Visiting Student'}
//    ];



var positions = [{positionid: 'Faculty', positionname: 'Faculty'},
		{positionid: 'Graduate Student', positionname: 'Graduate Student'},
		{positionid: 'UROP/Undergraduate', positionname: 'UROP/Undergraduate'},
		{positionid: 'Visiting Student', positionname: 'Visiting Student'},
		{positionid: 'Postdoctoral Researcher', positionname: 'Postdoctoral Researcher'},
		{positionid: 'Research Scientist', positionname: 'Research Scientist'},
		{positionid: 'Research Associate', positionname: 'Research Associate'},
		{positionid: 'Technical Assistant', positionname: 'Technical Assistant'},
		{positionid: 'Technical Associate', positionname: 'Technical Associate'},
		{positionid: 'Research Support Associate', positionname: 'Research Support Associate'},
		{positionid: 'Research Affiliate', positionname: 'Research Affiliate'},
		{positionid: 'Visiting Scientist/Scholar', positionname: 'Visiting Scientist/Scholar'},
		{positionid: 'Administrative Lab Manager', positionname: 'Administrative Lab Manager'},
		{positionid: 'Administrative Assistant', positionname: 'Administrative Assistant'},
		{positionid: 'Staff', positionname: 'Staff'},
		{positionid: 'Other', positionname: 'Other'}
    ];



var cancer_related_options = [{cancer_related_option: '?'},
		{cancer_related_option: 'Yes'},
		{cancer_related_option: 'No'}
    ];
var employment_type_options = [{employment_type_option: 'Other'},
		{employment_type_option: 'Academic'},
		{employment_type_option: 'Industry'},
		{employment_type_option: 'Government'}
    ];
</script>
<style type="text/css">
    .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>

	<div style="margin:20px 0;"></div>
	<table id="dgAlumni" class="easyui-datagrid" title="" style="width:1620px; height:700px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				url:'/alumni/alumni/',
				method:'get',
				toolbar: '#alumni_tb',
				striped: true,
				pagination : true,
				pageList:[50,100,500],
				remoteFilter: true,
				pageSize:50,
				onClickCell: onClickCell,
				onEndEdit: onEndEdit,
				showFooter:false
			">
		<thead>
			<tr>
				<th data-options="field:'id',width:60" sortable="true" rowspan="2"><B>ID</B></th>
				<th colspan="7"><B>Information at KI/CCR</B></th>
				<th colspan="11"><B>Present Information</B></th>
				<th colspan="4"><B>Current Employment</B></th>

			</tr>
			<tr>
				<th data-options="field:'last_name_ki',width:80,editor:'text'" sortable="true"><B>Last Name</B></th>
				<th data-options="field:'first_name_ki',width:80,align:'left',editor:'text'" sortable="true"><B>First Name</B></th>
				<!---th data-options="field:'middle_name_ki',width:80,align:'center',editor:'text'"><B>Middle Name</B></th>
				<th data-options="field:'preferred_name',width:100,align:'center',editor:'text'"><B>Preferred Name</B></th>
				<th data-options="field:'mitid',width:80,align:'center',editor:'text'"><B>MIT ID</B></th>
				<th data-options="field:'kbresid',width:60,align:'center',editor:'text'"><B>Kbres ID</B></th--->
				<th data-options="field:'position',align:'left',width:80,
						formatter:function(value,row){
							return row.position;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'positionid',
								textField:'positionname',
								data:positions,
								required:false
							}
						}"><B>Position</B></th>
				<th data-options="field:'unit',align:'center',width:90,editor:'text'"><B>Lab or<br/>Department</B></th>
				<th data-options="field:'home_institution',width:100,align:'center',editor:'text'"><B>Home Institution<br/>Visiting Scholar </B></th>
				<th data-options="field:'date_start',align:'center',width:60,editor:'text'"><B>Start<br/>Date</B></th>
				<th data-options="field:'date_end',align:'center',width:60,editor:'text'"><B>End<br/>Date</B></th>	
				
				
				<th data-options="field:'ecommons',align:'center',width:65,editor:'text'"><B>eCommons</B></th>
				<th data-options="field:'present_email',align:'center',width:100,editor:'text'"><B>Email</B></th>	
				<th data-options="field:'present_last_name',align:'center',width:60,editor:'text'"><B>Last<br/>Name</B></th>	
				<th data-options="field:'present_first_name',align:'center',width:60,editor:'text'"><B>First<br/>Name</B></th>	
				<th data-options="field:'present_middle_name',align:'center',width:45,editor:'text'"><B>Middle<br/>Name</B></th>	
				<th data-options="field:'present_phone',align:'center',width:80,editor:'text'"><B>Phone</B></th>	
				<th data-options="field:'present_country',align:'center',width:50,editor:'text'"><B>Country</B></th>				
				<th data-options="field:'present_state',align:'center',width:40,editor:'text'"><B>State</B></th>				
				<th data-options="field:'present_city',align:'center',width:60,editor:'text'"><B>City</B></th>				
				<th data-options="field:'present_postcode',align:'center',width:50,editor:'text'"><B>Post<br/>code</B></th>		
				<th data-options="field:'currentaddress',align:'center',width:100,editor:'text'"><B>Address</B></th>			


				<th data-options="field:'employer',align:'left',width:120,editor:'text'"><B>Employer</B></th>
				<th data-options="field:'employment_title',align:'left',width:60,editor:'text'"><B>Title</B></th>				
				<!---th data-options="field:'employment_type',align:'center',width:60,editor:'text'"><B>Type</B></th--->
				<th data-options="field:'employment_type',align:'center',width:60,
						formatter:function(value,row){
							return row.employment_type;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'employment_type_option',
								textField:'employment_type_option',
								data:employment_type_options,
								required:false
							}
						}"><B>Type</B></th>
				<!---th data-options="field:'cancer_related',align:'center',width:50,editor:{type:'checkbox',options:{1:'Y',0:''}}"><B>Cancer<br/>Related</B></th--->
				<th data-options="field:'employment_cancer_related',align:'center',width:50,
						formatter:function(value,row){
							return row.employment_cancer_related;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'cancer_related_option',
								textField:'cancer_related_option',
								data:cancer_related_options,
								required:false
							}
						}"><B>Cancer<br/>Related</B></th>
			</tr>
		</thead>
	</table>
	<div id="alumni_tb" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">Add a person</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">Remove a person</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">Save a person</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">Cancel</a>
        <!---a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a--->
 
		
		
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="uploadAlumniDialogue()">Batch Upload</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTableAlumni()">Download table</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTableAlumniAll()">Download all records</a>
	
		<!---a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="$('#dgAlumni').datagrid('toExcel','dg.xls')">Export To Excel</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" onclick="$('#dgAlumni').datagrid('print','DataGrid')">Print</a--->

	</div>

{% include "dialog_uploadalumni.embed.html" %}

