<!---link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/icon.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/demo/demo.css"--->
<!---link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/default/easyui.css">
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.easyui.min.js"></script--->
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript">
$(function(){
    var dg = $('#alumni_dg').datagrid();
    dg.datagrid('enableFilter', []);
	$('#dlg_alumni').dialog('close');
});

	var objectToCSVRow = function(dataObject) {
		var dataArray = new Array;
		for (var o in dataObject) {
			var innerValue = dataObject[o]===null?'':dataObject[o].toString();
			var result = innerValue.replace(/"/g, '""');
			result = '"' + result + '"';
			dataArray.push(result);
		}
		return dataArray.join(' ') + '\r\n';
	}

	var exportToCSV = function(arrayOfObjects) {
		if (!arrayOfObjects.length) {
			return;
		}
		var csvContent = "data:text/csv;charset=utf-8,";
		// headers
		csvContent += objectToCSVRow(Object.keys(arrayOfObjects[0]));

		arrayOfObjects.forEach(function(item){
			csvContent += objectToCSVRow(item);
		}); 

		var encodedUri = encodeURI(csvContent);
		var link = document.createElement("a");
		link.setAttribute("href", encodedUri);
		link.setAttribute("download", "customers.csv");
		document.body.appendChild(link); // Required for FF
		link.click();
		document.body.removeChild(link); 
	}

	function jsonconvertstrings(alist){
		// convert a list/array of strings such as ["id1","id2"] into a json string 
		var jsonlist = '[';
		for(var i=0;i<alist.length;i++){
			var tem = alist[i];
			jsonlist = jsonlist + '"' + tem + '",';
		}
		if(jsonlist.length > 1){
			// remove last ","
			jsonlist = jsonlist.substring(0,jsonlist.length-1);
		}
		jsonlist = jsonlist + ']';
		//alert(json);
		return jsonlist;
	}

	function downloadTableAlumni2(response) {
        var newrows = $('#alumni_dg').datagrid('getRows');
		// download only those rows shown in the table
		//alert("download some");
		if (newrows.length==0){
			alert('No record in the table is selected for download.');
			return;
		}
		
		var allPosIds = [];
		for(var i=0; i<newrows.length; i++){
			var row = newrows[i];
			//alert(row.GrantComponentPK);
			allPosIds.push(row.id);
		}
			
		var downloadallterms = 0;
		if (!response){
			downloadallterms = 0;
		}
		else{
			// download all records in the database
			//alert("download all");
			downloadallterms = 1;
		}
		
		var allids = jsonconvertstrings(allPosIds);
		//alert(newrows.length);
		$.get('/alumni/download/',
			{
				allids: allids,
				downloadallterms: downloadallterms
			},
			function(data){
				var obj = jQuery.parseJSON(data);
				var msg = obj.message;
				var link = obj.link;
				var status = obj.status;
				if(!status){
					var msg2 = "Error in downloading table: <br/><br/>";
					msg2 += msg;
					$.messager.alert('Download table',msg2,'info');
					return;
				}
				else{
					window.location.href = link; 
					return;
				}
				window.location.href = '/alumni/alumnidb/'; 
			}
		);
    }
		
	function downloadTableAlumni() {
		downloadTableAlumni2(false);
		return;
		
		var msg = 'Do you want to retrieve all records?\n Click "No" for records on the current page';
		$.messager.defaults.ok = 'Yes';
		$.messager.defaults.cancel = 'No';
		$.messager.confirm('Download table', msg, function(r){
			downloadTableAlumni2(r);
		});
	}
	
	function downloadTableAlumniAll() {
		downloadTableAlumni2(true);
		return;
		
		var msg = 'Do you want to retrieve all records?\n Click "No" for records on the current page';
		$.messager.defaults.ok = 'Yes';
		$.messager.defaults.cancel = 'No';
		$.messager.confirm('Download table', msg, function(r){
			downloadTableAlumni2(r);
		});
	}
	
	function uploadAlumniDialogue() {
		$('#dlg_alumni').dialog('open');
		return;
    }
		

</script>
	<div style="margin:20px 0;"></div>
	<table id="alumni_dg" class="easyui-datagrid" title="" style="width:1600px; height:700px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				url:'/alumni/alumnilist/',
				method:'get',
				toolbar: '#alumni_tb',
				pagination : false,
				pageSize:50,
				showFooter:false
			">
		<thead>
			<tr>
				<!---th data-options="field:'ck',checkbox:true"></th--->
				<th data-options="field:'id',width:60" sortable="true"><B>Index</B></th>
				<th data-options="field:'last_name',width:80" sortable="true"><B>Last Name</B></th>
				<th data-options="field:'first_name',width:80,align:'left',editor:'text'" sortable="true"><B>First Name</B></th>
				<!---th data-options="field:'middle_name',width:80,align:'center',editor:'text'"><B>Middle Name</B></th>
				<th data-options="field:'preferred_name',width:100,align:'center',editor:'text'"><B>Preferred Name</B></th>
				<th data-options="field:'mitid',width:80,align:'center',editor:'text'"><B>MIT ID</B></th>
				<th data-options="field:'kbresid',width:60,align:'center',editor:'text'"><B>Kbres ID</B></th--->
				
				<th data-options="field:'position',align:'left',width:160,editor:'text'"><B>Position at KI/CCR</B></th>
				<th data-options="field:'unit',align:'center',width:200,editor:'text'"><B>KI/CCR Lab or<br/>Department</B></th>
				
				<th data-options="field:'home_institution',width:160,align:'center',editor:'text'"><B>Home Institution<br/>for Visiting Scholar </B></th>
				
				<th data-options="field:'date_start',align:'center',width:100,editor:'text'"><B>Start Date<br/>at KI</B></th>
				<th data-options="field:'date_end',align:'center',width:100,editor:'text'"><B>End Date<br/>at KI</B></th>			
		
				<th data-options="field:'employer',align:'left',width:200,editor:'text'"><B>Current<br/>Employer</B></th>
				<th data-options="field:'current_title',align:'left',width:120,editor:'text'"><B>Current<br/>Title</B></th>				
				<th data-options="field:'employ_type',align:'center',width:60,editor:'text'"><B>Type</B></th>
				<th data-options="field:'cancer_related',align:'center',width:60,editor:'text'"><B>Cancer<br/>Related</B></th>
			</tr>	
		</thead>
	</table>
	<div id="alumni_tb" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="uploadAlumniDialogue()">Batch Upload</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTableAlumni()">Download table</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTableAlumniAll()">Download all records</a>
	</div>

{% include "dialog_uploadalumni.embed.html" %}

