<script type="text/javascript">
	function cancelAlumni(){
		$('#dlg_alumni').dialog('close');
		return;
	}
	
	function uploadAlumni(){
		//var win = $.messager.progress({
		//	title:'Please waiting',
		//	msg:'Uploading data...'
		//});
        //setTimeout(function(){
        //    $.messager.progress('close');
        //},50000)
		//var excelfile = document.getElementById('id_alumniexcelname').value;
		var excelfile = document.getElementById('id_alumniexcelname').files[0];
		if (!excelfile) {
			//$.messager.progress('close');
			alert("Error: No valid excel file is selected.");
			return;
		}
		//else{
		//	alert("Name: " + excelfile.name + "\n" + "Last Modified Date :" + excelfile.lastModifiedDate);
		//}
		
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		//var formdata = new FormData();
		var formdata = new FormData($('form').get(0));
		formdata.append('excelfile_upload', excelfile);
		formdata.append('filename', excelfile.name);
		formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		$.ajax('/alumni/alumniupload/',
			{
				//csrfmiddlewaretoken: csrf_token,
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				//contentType: 'multipart/form-data',
				success: console.log('success!')
			}
				//);
		)
		.done(function( data ) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			//alert(status);
			//$.messager.progress('close');
			if(status){
				alert(msg);
				cancelAlumni();
				window.location.href = '/alumni/alumnidb/'; 
			}
			else{
				alert(msg);
			}
		});
		return;
	}
</script>

<div id="dlg_alumni" class="easyui-dialog" title="Uploading alumni info"  style="width:800px;height:240px;max-width:600px;padding:10px" data-options="closed:true">
	<div style="padding:5px 5px 5px 5px">
		<p><b>Add alumni from an Excel file.</b></p>
		<!---hr/--->
		<p><b>Hint</b>: Only the first worksheet will be processed.</p>
		<p><a href="/themes/SmartAdmin/static/media/download/template-alumni-batch-upload.xlsx" >Download a sample excel file</a> as a template.</p>
		<form id="batchupload_form" action="." method="post" enctype='multipart/form-data'>
		  {% csrf_token %}
			{{ form }}
			<table cellpadding="3" align="center">
				<tr>
					<td><B>Excel file name</B>:</td>
					<td>
						<input type="file" name="alumniexcelname" id="id_alumniexcelname" required style="height:28px;width:220px"/>
						<span class="help-inline">required</span>
					</td>
				</tr>
			</table>
			<div style="text-align:center;padding:5px">
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="uploadAlumni()">Upload</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="cancelAlumni()">Cancel</a>
			</div>

		</form>
	</div>
</div>		