<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/default/easyui.css">
<!---link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/themes/icon.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-easyui-1.5.2/demo/demo.css"--->
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
<script type="text/javascript">

	function addForm(){
		alert("okayy");
		form_count = $('input[name*="extra_field_*"]').length;
		//alert(form_count);
	// when the button 'add another' is clicked then create a new input element
	//$(document.body).on("click", "#add-another1",function(e) {
		new_attribute = $('<input type="text"/>');
		// add a name attribute with a corresponding number (form_count)
		new_attribute.attr('name', 'extra_field_' + form_count);
		// append the new element in your html
		$("#form_empty_layer").append(new_attribute);
		// increment the form_count variable
		form_count ++;
		// save the form_count to another input element (you can set this to invisible. This is what you will pass to the form in order to create the django form fields
		$("[name=total_input_fields]").val(form_count);
    }
	
    function clearForm(){
        $('#present').form('clear');
    }

</script>


<form id="present" method="post" enctype="multipart/form-data" action="/alumni/modify/">
	{% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.as_p }}
    </div>
    </br>
	<input type="submit" value="Submit" />
    <!---button type="submit" id="submit_id" name="emptylayerbtn">Upload</button>
	<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="saveGrant()">Save</a>
	<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="clearForm()">Clear</a--->
	
</form>
