<script type="text/javascript">
	function getSearchVariables() {
		var listdic = {};
		listdic["keywords"] = document.getElementById("searching").value;
		return listdic;
	}
	
	function jsonconvertdic(listdic){
		var jsontry = JSON.stringify(listdic);
		return jsontry;
	}
	
	function searchSamples() {
		var win = $.messager.progress({
				title:'Please waiting',
				msg:'Searching for samples...'
		});
		
		var listdic = getSearchVariables();
		var jsonlistdic = jsonconvertdic(listdic);
		$.get('/seek/samples/searching/',
			{
				variables: jsonlistdic
			},
			function(data){
				$.messager.progress('close');
				var obj = jQuery.parseJSON(data);
                var datanow = obj.rows;
				var total = obj.total;
                $('#dgtable').datagrid('loadData',datanow);
				return;
			}
        );	
	}
</script>

<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="well">
			<div class="row show-grid">
				<table class="table" align="center" style="width:80%" >
					<thead>
						<tr>
							<th>Search keywords:</th>
							<th>Search category:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input id="searching" class="easyui-textbox" data-options="multiline:true" value="" style="width:480px;height:92px">
							</td>
							<td>
					            <select class="easyui-combobox" name="state" multiple="true" multiline="true" label="" labelPosition="top" style="width:100%;height:100px;">
					                <option value="ALL">All</option>
					                <option value="ASSAYS">Assays</option>
					                <option value="DATAFILES">Data files</option>
					                <option value="SAMPLES">Samples</option>
					                <option value="SAMPLETYPES">Sample types</option>
					            </select>        
							</td>
						</tr>
						<tr>
							<td>
								<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchSamples()">
									<B>Search</B>
								</a>
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
<div>
	Ener keywords into the search area to find data files for batch downloading.
</div>
