<script type="text/javascript">
	var type_options = {{ report.type_options|safe }};
	function showSamples() {
		var sampletype_id = document.getElementById("sample_type").value;
		var url = '/seek/sample_types/id=' + sampletype_id + '/';
		window.location.href = url;
		$('#sample_tab').tabs('select', 1);
		return;
	}
	function displaySamples(rec) {
		var url = '/seek/sample_types/id=' + rec.id + '/';
		if(rec.id==0){
			return;
		}
		return;
	}
</script>
<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="well">
			<div class="row show-grid">
				<table class="table" align="center" style="width:80%" >
					<thead>
						<tr>
							<th>Sample Type</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input id="sample_type" class="easyui-combobox" name="sample_type" style="width:100%;" data-options="
									showItemIcon: true,
									data: type_options,
									valueField:'id',
									textField:'title',
									editable: false,
									panelHeight:'auto',
									label: '',
									labelPosition: 'top',
									onSelect: function(rec){
										displaySamples(rec);
									}
								">
								<br/>
								<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="showSamples()">Show Samples</a>	
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
<div>
	Select a sample type from the list or enter sample UIDs into the search area to show samples.
</div>
