<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>
<!---script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-groupview.js"></script--->
<script type="text/javascript">
$(document).ready(function(){
	//$('#sample_table_div').hide();
	$('#dgtable').datagrid({
		onCheck: function(index,row){
			row.ck = true;
		},
		onUncheck: function(index,row){
			row.ck = false;
		},
		onCheckAll: function() {
            //var allRows = $(this).treegrid('getAllRows');
            //var state = $(this).data('datagrid');
            //state.checkedRows = allRows;
			var rows = $(this).datagrid('getRows');
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				row.ck = true;
			}
        },
        onUncheckAll: function() {
            //var state = $(this).data('datagrid');
            //state.checkedRows = [];
			var rows = $(this).datagrid('getRows');
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				row.ck = false;
			}
        }
	})
});


$(function(){
	//document.getElementById("sample_table_div").style.display = 'none';
	//document.getElementById("south_div").style.display = 'none';
    var dg = $('#dgtable').datagrid();
    dg.datagrid('enableFilter', [{
				field:'piUrl',
				type:'label'
			}]);
});

	function exportDataGridList(dg) {
		var rows = dg.datagrid('getRows');
		// download only those rows shown in the table
		//alert("download some");
		if (rows.length==0){
			alert('No file in the table is selected for download.');
			return;
		}
		
		//alert(rows.length);
		// choose samples selected
		var allIds = [];
		var rowsSelected = [];
		for(var i=0; i<rows.length; i++){
			var row = rows[i];
			if(row.ck){
				//alert('checked');
				allIds.push(row.id);
				rowsSelected.push(row);
			}
			else{
				//alert('unchecked');
			}
		}
		
		// if no sample is selected, download all samples
		if (allIds.length==0){
			alert('No file in the table is selected for download.');
			return;
		}
		var param = {};
		param['filename'] = 'filelist.xls';
		param['rows'] = rowsSelected;
		dg.datagrid('toExcel',param);
	}

	function batchDownloadFiles(dg, url_batchdownload) {
		var rows = dg.datagrid('getRows');
		// download only those rows shown in the table
		//alert("download some");
		if (rows.length==0){
			alert('No file in the table is selected for download.');
			return;
		}
		
		//alert(rows.length);
		// choose samples selected
		var allIds = [];
		var rowsSelected = [];
		for(var i=0; i<rows.length; i++){
			var row = rows[i];
			if(row.ck){
				//alert('checked');
				allIds.push(row.id);
				rowsSelected.push(row);
			}
			else{
				//alert('unchecked');
			}
		}
		
		// if no sample is selected, download all samples
		if (allIds.length==0){
			alert('No file in the table is selected for download.');
			return;
		}
		var allids = JSON.stringify(allIds);
		//alert(allids);
		
		var win = $.messager.progress({
				title:'Please waiting',
				msg:'Batch downloading files...'
		});

		$.get(url_batchdownload,
			{
				allids: allids,
				downloadallterms: 1
			},
			function(data){
				$.messager.progress('close');
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				var link = obj.link;
				if(status==1){
					window.location.href = link; 
				}
				else {
					alert(msg);
					window.location.href = link;
				}
				return;
			}
        );	
	}


	function batchPublishFiles(dg, url_batchpublish) {
		var rows = dg.datagrid('getRows');
		// download only those rows shown in the table
		//alert("download some");
		if (rows.length==0){
			alert('No file in the table is selected for publish.');
			return;
		}
		
		//alert(rows.length);
		// choose samples selected
		var allIds = [];
		var rowsSelected = [];
		for(var i=0; i<rows.length; i++){
			var row = rows[i];
			if(row.ck){
				//alert('checked');
				allIds.push(row.id);
				rowsSelected.push(row);
			}
			else{
				//alert('unchecked');
			}
		}
		
		// if no sample is selected, download all samples
		if (allIds.length==0){
			alert('No file in the table is selected for publish.');
			return;
		}
		
		//var url = '/seek/samples/publishlist/' + allIds.toString() + '/';
		var url = url_batchpublish + allIds.toString() + '/';
		window.open(url);
		return;
		
		
		
		
		var allids = JSON.stringify(allIds);
		//alert(allids);
		
		var win = $.messager.progress({
				title:'Please waiting',
				msg:'Batch publishing files...'
		});

		$.get(url_batchpublish,
			{
				allids: allids,
				downloadallterms: 1
			},
			function(data){
				$.messager.progress('close');
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				var link = obj.link;
				if(status==1){
					window.location.href = link; 
				}
				else {
					alert(msg);
					window.location.href = link;
				}
				return;
			}
        );	
	}


</script>
<style type="text/css">
  .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>
<!---style type="text/css">
  .datagrid-cell{
    font-size:10px; font-weight: bold; 
  }
</style--->

<div id="sample_table_div" style="height:auto">
	<div style="margin:20px 0;"></div>
	<table id="dgtable" class="easyui-datagrid" title="" style="width:auto; height:680px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				selectOnCheck: false,
				url:'{{report.table_url}}',
				method:'get',
				toolbar: '#tb_toolbar',
				striped: true,
				pagination : true,
				pageSize:50,
				showFooter: false,
				multiSort: true,
				remoteFilter: true
			">
		<thead>
			<tr>
				<!---th data-options="field:'record_id',checkbox:true"><span class="lbl"></span></th--->
				<!---th data-options="field:'idlink',width:60" sortable="false"><B>Select it</B></th--->
			    <th data-options="field:'ck',width:100,align:'center', checkbox:true, editor:{type:'checkbox',options:{on:'Y',off:'N'}}">Select file</th>
				<th data-options="field:'id',width:60" sortable="true"><B>ID</B></th>
				<th data-options="field:'title',width:400" sortable="true"><B>UID</B></th>
				<th data-options="field:'fileurl',width:400" sortable="true"><B>File URL</B></th>
				<th data-options="field:'originalname',width:250" sortable="true"><B>Original file name</B></th>
				<th data-options="field:'filesize',width:60" sortable="true"><B>File size</B></th>
				<th data-options="field:'checksum',align:'left',width:300"><B>md5sum</B></th>
				<th data-options="field:'contributor',align:'left',width:100"><B>Contributor</B></th>
			</tr>
		</thead>
	</table>
	<div id="tb_toolbar" style="height:auto">
			<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="exportDataGridList($('#dgtable'))">Download file list</a>
			
			<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="batchDownloadFiles($('#dgtable'), '{{report.batchdownload_url}}')">Batch download files selected </a>
	
			<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="batchPublishFiles($('#dgtable'), '{{report.batchpublish_url}}')">Publish files selected </a>

	
		<!---a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append($('#dgtable'))">Add a record</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept($('#dgtable'), '/directory/save/')">Save a record</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject($('#dgtable'))">Cancel</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit($('#dgtable'), '/directory/delete/')">Remove a record</a--->
	</div>
</div>
