<script type="text/javascript">
	function uploadDatafile(){
		var filename = document.getElementById('id_datafilename').files[0];
		if (!filename) {
			alert("Warning: No valid sample sheet in excel is selected.");
			return;
		}
		addDatafile(filename.name);
		return;
	}
</script>
<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="well">
			<div class="row show-grid">
				<table class="table" align="center" style="width:70%" >
					<thead>
						<tr>
							<th style="width:50%;">Drag and drop data files:</th>
							<th style="width:50%;">Select data files for uploading:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input id="id_filedropbox" class="easyui-textbox" data-options="multiline:true" value="" style="width:480px;height:92px">
									<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchDatafile()">
										<B>Upload</B>
									</a>
							</td>
							<td>
								<input type="file" name="datafilename" id="id_datafilename" required style="height:28px;width:220px"/>
								<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="uploadDatafile()">Upload files</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
	

