<script type="text/javascript">

//$('#id_filedropbox').textbox('filedropboxx');

	function uploadDatafile(){
		//var win = $.messager.progress({
		//	title:'Please waiting',
		//	msg:'Uploading data...'
		//});
        //setTimeout(function(){
        //    $.messager.progress('close');
        //},50000)
		//var sampletype_id = document.getElementById("sample_template").value;
		//if(sampletype_id==0){
			//$.messager.progress('close');
		//	alert("Warning: Select a sample type and a sample sheet to start.");
		//	return;
		//}
		//var filename = document.getElementById('id_datafilename').value;
		var filename = document.getElementById('id_datafilename').files[0];
		if (!filename) {
			//$.messager.progress('close');
			alert("Warning: No valid sample sheet in excel is selected.");
			return;
		}
		addDatafile(filename.name);
		return;
		
		//alert("Name: " + filename.name + "\nSample type :" + sampletype_id);
		
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		//var formdata = new FormData();
		var formdata = new FormData($('form').get(0));
		formdata.append('filename_upload', filename);
		formdata.append('filename', filename.name);
		//formdata.append('sampletype_id', sampletype_id);
		formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		$.ajax('/seek/sampleupload/',
			{
				//csrfmiddlewaretoken: csrf_token,
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				//contentType: 'multipart/form-data',
				success: console.log('success!')
			}
		)
		.done(function( data ) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			$('#messages').text(msg);
			var status = obj.status;
			var link = obj.link;
			//alert(link);
			//alert(status);
			//$.messager.progress('close');
			window.location.href = link;
			if(status){
				//alert(msg);
				//var url = '/seek/sample_types/id=' + sampletype_id + '/';
				//alert(url);
				//window.location.href = url;
			}
			else{
				//alert(msg);
			}
			
		});
		return;
	}

</script>

	<!---div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i></h1>
	</div--->
	<!---h3><i class="fa-fw fa fa-list-alt"></i>
		Datafile
	</h3--->
	<!---p>&nbsp;&nbsp;You can upload, search or update records of the discretionary.
	</p--->


	
	<div class="span12">
		<form method="post" enctype="multipart/form-data" action="">
			{% csrf_token %}

	<!--- Grid control from smartAdmin theme --->		
	<div class="well">
		<div class="row show-grid">
			<!---table class="table table-bordered"--->
			<table class="table" align="center" style="width:70%" >
				<thead>
					<tr>
						<th style="width:50%;">Drag and drop data files:</th>
						<th style="width:50%;">Select data files for uploading:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input id="id_filedropbox" class="easyui-textbox" data-options="multiline:true" value="" style="width:480px;height:92px">
								<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchDatafile()">
									<B>Upload</B>
								</a>
						</td>
						<td>
							<input type="file" name="datafilename" id="id_datafilename" required style="height:28px;width:220px"/>
							<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="uploadDatafile()">Upload files</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
			
			
		<!-- widget content -->

	<!-- end widget content -->
		</form>
	</div>
	

