<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#dgtable').datagrid({
		onCheck: function(index,row){
			row.ck = true;
		},
		onUncheck: function(index,row){
			row.ck = false;
		},
		onCheckAll: function() {
			var rows = $(this).datagrid('getRows');
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				row.ck = true;
			}
        },
        onUncheckAll: function() {
			var rows = $(this).datagrid('getRows');
			for(var i=0; i<rows.length; i++){
				var row = rows[i];
				row.ck = false;
			}
        }
	})	
});

$(function(){
    var dg = $('#dgtable').datagrid();
    dg.datagrid('enableFilter', [{
		field:'id',
		type:'label'
	}]);
});
	
	function pulishAssets(dg, url) {
		var investigation_id = $('#publish_investigation').combobox('getValue');
		if(investigation_id==0){
			alert('No Investigation is selected.');
			return;
		}
		var investigation =  $('#publish_investigation').combobox('getText');
		var study_id = $('#publish_study').combobox('getValue');
		if(study_id==0){
			alert('No Study is selected.');
			return;
		}
		var study = $('#publish_study').combobox('getText');
		var assay_id = $('#publish_assay').combobox('getValue');
		if(assay_id==0){
			alert('No Assay is selected.');
			return;
		}
		var assay = $('#publish_assay').combobox('getText');
		var rows = dg.datagrid('getRows');
		if (rows.length==0){
			alert('No asset in the table is available for publishing.');
			return;
		}
		var allIds = [];
		for(var i=0; i<rows.length; i++){
			var row = rows[i];
			if(row.ck){
				allIds.push(row.id);
			}
		}
		if (allIds.length==0){
			alert('No asset in the table is selected for publishing.');
			return;
		}
		var allids = JSON.stringify(allIds);
		var msg = 'You have selected '
			+ allIds.length
			+ ' assets in the ISA for publishing. You must be superuser to do so. Do you really want to publish those assets?';
		$.messager.confirm('Publishing assets', msg, function(r){
            if (r){
            }
			else{
				return;
			}
			var win = $.messager.progress({
				title:'Please waiting',
				msg:'Publishing assets ...'
			});
			$.get(url,
				{
					'allids': allids,
			        'investigation': investigation,
					'study': study,
					'assay': assay,
			        'investigation_id': investigation_id,
					'study_id': study_id,
					'assay_id': assay_id
				},
				function(data){
					$.messager.progress('close');
					var obj = jQuery.parseJSON(data);
				    var msg = obj.msg;
					var status = obj.status;
					var link = obj.link;
					if(status==1){
						window.location.href = link; 
					}
					else {
						alert(msg);
					}
					return;
				}
			);
			return;
		});
	}

</script>
<style type="text/css">
  .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>
<div id="asset_table_div" style="height:auto">
	<div style="margin:20px 0;"></div>
	<table id="dgtable" class="easyui-datagrid" title="" style="width:auto; height:380px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				selectOnCheck: false,
				url:'',
				method:'get',
				toolbar: '#tb_toolbar',
				striped: true,
				pagination : true,
				pageSize:50,
				showFooter: false,
				multiSort: true,
				remoteFilter: true
			">
		<thead>
			<tr>
				<th data-options="field:'ck',width:100,align:'center', checkbox:true, editor:{type:'checkbox',options:{on:'Y',off:'N'}}">Select file</th>
				<th data-options="field:'id',width:100" sortable="true"><B>ID</B></th>
				<th data-options="field:'title',width:300,editor:'text'" sortable="true"><B>Data file name</B></th>
				<th data-options="field:'assay',width:120" sortable="true"><B>Assay</B></th>
				<th data-options="field:'study',width:120" sortable="true"><B>Study</B></th>
				<th data-options="field:'investigation',width:100" sortable="true"><B>Investigation</B></th>
			</tr>
		</thead>
	</table>
	<div id="tb_toolbar" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="pulishAssets($('#dgtable'), '/seek/pulishAssets/')">Publish assets</a>
	</div>
</div>
