<script type="text/javascript">

	var project_options = {{ report.project_options|safe }};

	//var investigation_options = {{ report.investigation_options|safe }};
	var investigation_options_dic = {{ report.investigation_options_dic|safe }};
	
	var study_options_dic = {{ report.study_options_dic|safe }};
	
	var assay_options_dic = {{ report.assay_options_dic|safe }};
	
	
	var project_options_exm = [
		{ id: "id1", title: "aa1" },
		{ id: "id2", title: "aa2" }
	];
	
	var studies2 = {"id1":[
		{ id: "id3", title: "aa3" },
		{ id: "id4", title: "aa4" }
	], "id2":[
		{ id: "id5", title: "aa5" },
		{ id: "id6", title: "aa6" }
	]};
	
	function getInvestigation(rec) {
		//alert(rec.id);
		if(rec.id in investigation_options_dic){
			var inv_options = investigation_options_dic[rec.id];
			$('#publish_investigation').combobox('loadData', inv_options);
		}
	}
	
	function getStudies(rec) {
		//alert(rec.id);
		if(rec.id in study_options_dic){
			var study_options = study_options_dic[rec.id];
			$('#publish_study').combobox('loadData', study_options);
		}
	}
	
	function getStudies2(rec) {
		// given an investigation id, retrieve the list of studies and show it in the combobox.
		if(rec.id==0){
			return;
		}
		else{
		}
		
		var url = '/seek/investigations/id=' + rec.id + '/';
		//window.location.href = url;
		$.get(url,
			{},
			function(data){
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				if(status==1){
					var study_options = obj.study_options;
					$('#publish_study').combobox('loadData', study_options);
				}
				else {
					alert(msg);
				}
				return;
			}
        );	
	}

	function getAssays(rec) {
		//alert(rec.id);
		if(rec.id in assay_options_dic){
			var assay_options = assay_options_dic[rec.id];
			$('#publish_assay').combobox('loadData', assay_options);
		}
	}

	function getAssays2(rec) {
		//var assay_options = assays[rec.id];
		//$('#publish_assay').combobox('loadData', assay_options);
		//return;
		
		// given a study id, retrieve a list of assays and show it in the combobox.
		if(rec.id==0){
			return;
		}
		else{
		}
		var url = '/seek/studies/id=' + rec.id + '/';
		$.get(url,
			{
			},
			function(data){
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				if(status==1){
					var assay_options = obj.assay_options;
					$('#publish_assay').combobox('loadData', assay_options);
				}
				else {
					alert(msg);
				}
				return;
			}
        );	
	}
	
	function searchAssets() {
		var investigation_id = $('#publish_investigation').combobox('getValue');
		if(investigation_id==0){
			alert('No Investigation is selected.');
			return;
		}
		
		var investigation =  $('#publish_investigation').combobox('getText');
		
		var study_id = $('#publish_study').combobox('getValue');
		if(study_id==0){
			alert('No Study is selected.');
			return;
		}
		var study = $('#publish_study').combobox('getText');
		
		var assay_id = $('#publish_assay').combobox('getValue');
		if(assay_id==0){
			alert('No Assay is selected.');
			return;
		}
		var assay = $('#publish_assay').combobox('getText');
		
		var win = $.messager.progress({
				title:'Please waiting',
				msg:'Searching for assets...'
		});
		
		$.get('/seek/searchAssets/',
			{
				'investigation': investigation,
				'study': study,
				'assay': assay,
				'assay_id': assay_id
			},
			function(data){
				$.messager.progress('close');
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				if(status==1){
					var datanow = obj.rows;
					var total = obj.total;
					$('#dgtable').datagrid('loadData',datanow);
					var pager = $('#dgtable').datagrid('getPager');
					pager.pagination({showRefresh:false});
					pager.pagination({
						total:total,
						pageSize:total,
						pageList: [total]
					});
				}
				else {
					alert(msg);
				}
				return;
			}
        );	
	}
	
	// to be deleted
	function displaySamples(rec) {
		alert(rec.id);
		var url = '/seek/publish_investigations/id=' + rec.id + '/';
		//var url = 'get_data2.php?id='+rec.title;
		if(rec.id==0){
			return;
		}
		else{
			//alert(url);
		}
		//window.location.href = url;
		return;
		$.get(url,
			{},
			function(data){
				var obj = jQuery.parseJSON(data);
				return;
				var bodyhtml = 
                datanow = obj.rows;
				//alert(datanow.length);
				var number = datanow.length;
                $('#cell_dg').datagrid('loadData',datanow);
				var numberSelected = 96;
				if(number<96){
					numberSelected = number;
				}
				document.getElementById('numberCellsSelected').innerHTML = numberSelected;
								
				for(var i=0; i<numberSelected; i++){
					$('#cell_dg').datagrid('selectRow', i); 
				}
								
				var pager = $('#cell_dg').datagrid('getPager');
				//pager.pagination({showRefresh:false});
				pager.pagination({
					total:number,
					pageSize:number,
					pageList: [number]
				});
				return;
			}
        );	
	}

	function getSearchVariables() {
		var listdic = {};
		listdic["keywords"] = document.getElementById("searching").value;
		return listdic;
	}
	
	function jsonconvertdic(listdic){
		var jsontry = JSON.stringify(listdic);
		return jsontry;
	}
	
	function exportSamples(){
		//var win = $.messager.progress({
		//	title:'Please waiting',
		//	msg:'Uploading data...'
		//});
        //setTimeout(function(){
        //    $.messager.progress('close');
        //},50000)
		//var sampletype_id = document.getElementById("sample_template").value;
		//if(sampletype_id==0){
			//$.messager.progress('close');
		//	alert("Warning: Select a sample type and a sample sheet to start.");
		//	return;
		//}
		
		//var excelfile = document.getElementById('id_sampleexcelname').value;
		var excelfile = document.getElementById('id_sampleexcelname').files[0];
		if (!excelfile) {
			//$.messager.progress('close');
			alert("Warning: No excel file is choosen.");
			return;
		}
		//alert("Name: " + excelfile.name + "\nSample type :" + sampletype_id);
		
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		//var formdata = new FormData();
		var formdata = new FormData($('form').get(0));
		formdata.append('excelfile_find', excelfile);
		formdata.append('filename', excelfile.name);
		//formdata.append('sampletype_id', sampletype_id);
		formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		//$.ajax('/seek/sampleupload/',
		$.ajax('/seek/samplefind/',
			{
				//csrfmiddlewaretoken: csrf_token,
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				//contentType: 'multipart/form-data',
				success: console.log('success!')
			}
		)
		.done(function( data ) {
			
			var obj = jQuery.parseJSON(data);
			// msg uses '<br/>' for new line, shown in popup dialogue.
			var msg = obj.msg;
			
			// same as msg but using '\n' for new line
			var message = obj.message;
			$('#messages').text(message);
			var status = obj.status;
			var link = obj.link;
			//alert(link);
			//alert(status);
			//$.messager.progress('close');
			window.location.href = link;
			if(status>0){
				//alert(msg);
				//var url = '/seek/sample_types/id=' + sampletype_id + '/';
				//alert(url);
				//window.location.href = url;
				showSampleInfoMsg(msg);
			}
			else if(status==0){
				//Error msg
				showSampleErrorMsg(msg);
			}
			else{
				// warning msg
				showSampleWarningMsg(msg);
			}
		});
		return;
	}

</script>

<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
			{% csrf_token %}
	
	<!--- Grid control from smartAdmin theme --->		
	<div class="well">
		<div class="row show-grid">
			<div class="col-xs-18 col-sm-12 col-md-12">
				<input id="publish_project" class="easyui-combobox" name="publish_project" style="width:100%;" data-options="
					showItemIcon: true,
					data: project_options,
					valueField:'id',
					textField:'title',
					editable: false,
					panelHeight:'auto',
					label: 'Project',
					labelPosition: 'top',
					onSelect: function(rec){
						getInvestigation(rec);
					}
				">
			</div>
			<div class="col-xs-18 col-sm-12 col-md-12">
				<input id="publish_investigation" class="easyui-combobox" name="publish_investigation" style="width:100%;" data-options="
					showItemIcon: true,
					valueField:'id',
					textField:'title',
					editable: false,
					panelHeight:'auto',
					label: 'Investigation',
					labelPosition: 'top',
					onSelect: function(rec){
						getStudies(rec);
					}
				">
			</div>
			<div class="col-xs-18 col-sm-12 col-md-12">
				<input id="publish_study" class="easyui-combobox" name="publish_study" style="width:100%;" data-options="
					showItemIcon: true,
					valueField:'id',
					textField:'title',
					editable: false,
					panelHeight:'auto',
					label: 'Study',
					labelPosition: 'top',
					onSelect: function(rec){
						getAssays(rec);
					}
				">
			</div>
			<div class="col-xs-18 col-sm-12 col-md-12">
				<input id="publish_assay" class="easyui-combobox" name="publish_assay" style="width:100%;" data-options="
					showItemIcon: true,
					valueField:'id',
					textField:'title',
					editable: false,
					panelHeight:'auto',
					label: 'Assay',
					labelPosition: 'top',
					onSelect: function(rec){
					}
				">
			</div>
		</div>
		<br/>
		<div class="row show-grid">
			<div class="col-xs-6 col-sm-2 col-md-2">
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4">
				<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchAssets()">Find assets in ISA</a>
				<!---a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="generatePIReportWord()">Create PI Grant Report in Word</a--->
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4">
				<input type="file" name="sampleexcelname" id="id_sampleexcelname" required style="height:28px;width:220px"/>
				<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="exportSamples()">Export Samples to Immport</a>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2">
			</div>
		</div>
	</div>
		<!-- widget content -->
	<!-- end widget content -->
	</form>
</div>


