<!--- This is the DND tree with mouse control, refer to: http://bl.ocks.org/robschmuecker/7880033 --->

<style type="text/css">
  
  .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

</style>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>

<script>

    var treeData = {{ report.treeData_multiparents|safe }};
	
    var data2 = {
        'name': "certificates",
        'id': "cert-root",
        'children': [{
            'name': "ISO-2000",
            'id': "cert-iso",
            'children': [
                {'id':"CO-01",
                  'name':"CO-AuditPlanning",
                    'children': [{
                        'id': "CO-01_1",
                        'name': "CO-AuditPlanning.1",
                        'children': [{
                            'id': "softlayer",
                            'name': "Soft Layter",
							'children': [{
								'id': "softlayer21",
								'name': "Soft Layter21",
							},
							{
								'id': "softlayer22",
								'name': "Soft Layter22",
							}
							]
                        }]
                    }]
                },
                {'id':"CO-06",'name':"CO-IntellectualProperty",
                    'children': [{
                        'id': "CO-06_1",
                        'name' : "CO-IntellectualProperty1",
                        'children': [{
                            'id': "Aryaka",
                            'name': "Aryaka"
                        }]
                    }
                    ]},
                {'id':"DG-01",'name':"DG-Ownership"},
                {'id':"SA-15",'name':"SA-MobileCode",
                    'children': [{
                        'id': "SA-15_1",
                        'name': "SA-MobileCode.1",
                        'children': [{
                            'id': "softlayer",
                            'name': "Soft Layter",
							'children': [{
								'id': "softlayer21",
								'name': "Soft Layter21",
							},
							{
								'id': "softlayer22",
								'name': "Soft Layter22",
							}
							]
                        }]
                    }, {
                        'id': "SA-15_2",
                        'name': "SA-MobileCode.2",
                        'children': [{
                            'id': "softlayer",
                            'name': "Soft Layter",
                        }]
                    }
                 ]
             }]
        },
        {
            'name': "COBIT",
            'id': "cert-cobit",
            'children': [
                {
                    'id': "CO-01",
                    'name' : "co-AuditPlanning",
                    'children': [{
                        'id': "CO-01_1",
                        'name' : "CO-AuditPlanning.1",
                        'children': [{
                            'id': "softlayer",
                            'name': "Soft Layter",
							'children': [{
								'id': "softlayer21",
								'name': "Soft Layter21",
							},
							{
								'id': "softlayer22",
								'name': "Soft Layter22",
							}
							]
                        },
						{
                            'id': "Aryaka",
                            'name': "Aryaka"
                        }
						]
                    }
                    ]
                }
            ]
        }
        ]
    };

</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/buildtree/dndTree1.js"></script>
<div id="tree-container"></div>
