<!--- This is the first exaample to show the single parent tree --->
<script type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.layout.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<!---script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.min.js"></script>
<script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.layout.min.js"></script--->
<script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/buildTree.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script type="text/javascript">
function buildHorizontalTree(treeData, treeContainer)
    {
	  //treeContainer = "#viz"
	  //treeData=treeData1
      // Create a svg canvas
      //var vis = d3.select("#viz").append("svg:svg")
	  var vis = d3.select(treeContainer).append("svg:svg")
      .attr("width", 1500)
      .attr("height", 300)
      .append("svg:g")
      .attr("transform", "translate(300, 0)"); // shift everything to the right
 
 
      // Create a tree "canvas"
      var tree = d3.layout.tree()
      .size([300,850]);
 
      var diagonal = d3.svg.diagonal()
      // change x and y (for the left to right tree)
      .projection(function(d) { return [d.y, d.x]; });
 
      // Preparing the data for the tree layout, convert data into an array of nodes
      var nodes = tree.nodes(treeData);
      // Create an array with all the links
      var links = tree.links(nodes);
 
	  //alert(treeData);
      //console.log(treeData)
      //console.log(nodes)
      //console.log(links)
 
      var link = vis.selectAll("pathlink")
      .data(links)
      .enter().append("svg:path")
      .attr("class", "link")
      .attr("d", diagonal)
 
      var node = vis.selectAll("g.node")
      .data(nodes)
      .enter().append("svg:g")
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
 
      // Add the dot at every node
      node.append("svg:circle")
      .attr("r", 3.5);
 
      // place the name atribute left or right depending if children
      node.append("svg:text")
      .attr("dx", function(d) { return d.children ? -8 : 8; })
      .attr("dy", 3)
      .attr("text-anchor", function(d) { return d.children ? "end" : "start"; })
      .text(function(d) { return d.name; })
}

function BuildVerticaLTree(treeData, treeContainerDom) {
              var margin = { top: 40, right: 120, bottom: 20, left: 120 };
              var width = 960 - margin.right - margin.left;
              var height = 500 - margin.top - margin.bottom;
              var i = 0, duration = 750;
              var tree = d3.layout.tree()
                  .size([height, width]);
              var diagonal = d3.svg.diagonal()
                  .projection(function (d) { return [d.x, d.y]; });
              var svg = d3.select(treeContainerDom).append("svg")
                  .attr("width", width + margin.right + margin.left)
                  .attr("height", height + margin.top + margin.bottom)
                .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
              root = treeData;
              update(root);
              function update(source) {
                  // Compute the new tree layout.
                  var nodes = tree.nodes(root).reverse(),
                      links = tree.links(nodes);
                  // Normalize for fixed-depth.
                  nodes.forEach(function (d) { d.y = d.depth * 100; });
                  // Declare the nodes
                  var node = svg.selectAll("g.node")
                      .data(nodes, function (d) { return d.id || (d.id = ++i); });
                  // Enter the nodes.
                  var nodeEnter = node.enter().append("g")
                      .attr("class", "node")
                      .attr("transform", function (d) {
                          return "translate(" + source.x0 + "," + source.y0 + ")";
                      }).on("click", nodeclick);
                  nodeEnter.append("circle")
                   .attr("r", 10)
                      .attr("stroke", function (d)
                      { return d.children || d._children ? "steelblue" : "#00c13f"; })
                      .style("fill", function (d)
                      { return d.children || d._children ? "lightsteelblue" : "#fff"; });
                  //.attr("r", 10)
                  //.style("fill", "#fff");
                  nodeEnter.append("text")
                      .attr("y", function (d) { return d.children || d._children ? -18 : 18;})
                      .attr("dy", ".35em")
                      .attr("text-anchor", "middle")
                      .text(function (d) { return d.name; })
                      .style("fill-opacity", 1e-6);
					  
                  // Transition nodes to their new position.
                  //horizontal tree
                  var nodeUpdate = node.transition()
                      .duration(duration)
                      .attr("transform", function (d)
                      { return "translate(" + d.x + "," + d.y + ")"; });
                  nodeUpdate.select("circle")
                      .attr("r", 10)
                      .style("fill", function (d)
                      { return d._children ? "lightsteelblue" : "#fff"; });
                  nodeUpdate.select("text")
                      .style("fill-opacity", 1);
					  
                  // Transition exiting nodes to the parent's new position.
                  var nodeExit = node.exit().transition()
                      .duration(duration)
                      .attr("transform", function (d)
                      { return "translate(" + source.x + "," + source.y + ")"; })
                      .remove();
                  nodeExit.select("circle")
                      .attr("r", 1e-6);
                  nodeExit.select("text")
                      .style("fill-opacity", 1e-6);
					  
                  // Update the links
                  // Declare the links
                  var link = svg.selectAll("path.link")
                      .data(links, function (d) { return d.target.id; });
					  
                  // Enter the links.
                  link.enter().insert("path", "g")
                      .attr("class", "link")
                      .attr("d", function (d) {
                          var o = { x: source.x0, y: source.y0 };
                          return diagonal({ source: o, target: o });
                      });
                  // Transition links to their new position.
                  link.transition()
                      .duration(duration)
                  .attr("d", diagonal);
                  // Transition exiting nodes to the parent's new position.
                  link.exit().transition()
                      .duration(duration)
                      .attr("d", function (d) {
                          var o = { x: source.x, y: source.y };
                          return diagonal({ source: o, target: o });
                      })
                      .remove();
					  
					  
                  // Stash the old positions for transition.
                  nodes.forEach(function (d) {
                      d.x0 = d.x;
                      d.y0 = d.y;
                  });
              }
              // Toggle children on click.
              function nodeclick(d) {
                  if (d.children) {
                      d._children = d.children;
                      d.children = null;
                  } else {
                      d.children = d._children;
                      d._children = null;
                  }
                  update(d);
              }
}
</script>

<style>
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4.5px;
}

        .node {
            cursor: pointer;
        }

            .node circle {
                stroke-width: 3px;
            }
            .node text {
                font: 12px sans-serif;
                fill: #fff;
            }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

        .tree {
            margin-bottom: 10px;
            overflow: auto;
        }

</style>
<h3>Sample hierarchy: {{ report.sample_id }}</h3>
<h4>Parents</h4>
<div id="viz_parents"></div>
<h4>Children</h4>
<div id="viz_children"></div>
<script type="text/javascript">
    //JSON object with the data
    var treeData1 = {
        "name" : "Adfdfsfffsdf",
		"info" : "tst",
		"children" : [
            {"name" : "A1" },
            {"name" : "A2" },
            {
			    "name" : "A3",
				"children": [
                  {
			          "name" : "A31",
				      "children" :[
                          {"name" : "A311" },
                          {"name" : "A312" }
				      ]
                  }
			    ]
            }
        ]
    };
	//alert('create tree');
	var treeData_parents = {{ report.treeData_parents|safe }};
	var treeData_children = {{ report.treeData_children|safe }};
	  
	$(document).ready(function () {
        buildHorizontalTree(treeData_parents, "#viz_parents")
        buildHorizontalTree(treeData_children, "#viz_children")
        //BuildVerticaLTree(treeData1, "#viz");
    });
</script>
