<script type="text/javascript">
	var type_options = {{report.type_options|safe}};

	function showSamples() {
		var sampletype_id = document.getElementById("sample_type").value;
		var url = '/seek/sample_types/id=' + sampletype_id + '/';
		window.location.href = url;
		$('#sample_tab').tabs('select', 1);
		return;
	}

	function displaySamples(rec) {
		var url = '/seek/sample_types/id=' + rec.id + '/';
		if (rec.id == 0) {
			return;
		} 
		return;
	}

	function getSearchVariables() {
		var listdic = {};
		listdic["keywords"] = document.getElementById("searching").value;
		return listdic;
	}

	function jsonconvertdic(listdic) {
		var jsontry = JSON.stringify(listdic);
		return jsontry;
	}

	function searchSamples() {
		var win = $.messager.progress({
			title: 'Please waiting',
			msg: 'Searching for samples...'
		});

		var listdic = getSearchVariables();
		var jsonlistdic = jsonconvertdic(listdic);
		$.get('/seek/samples/searching/', {
			variables: jsonlistdic
		}, function(data) {
			$.messager.progress('close');
			var obj = jQuery.parseJSON(data);
			var datanow = obj.rows;
			var total = obj.total;
			$('#dgtable').datagrid('loadData', datanow);
			return;
		});
	}
</script>

<div class="span12">
	<form method="post" enctype="multipart/form - data" action="">
		{% csrf_token %} 
		<div class=" well">
			<div class=" row show - grid">
				<table class=" table" align=" center" style=" width: 80 %">
					<thead>
						<tr>
							<th>Sample Type</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input id=" sample_type" class=" easyui - combobox" name=" sample_type" style=" width: 100 % ;" data-options="showItemIcon: true, data: type_options, valueField: 'id', textField: 'title', editable: false, panelHeight: 'auto', label: '', labelPosition: 'top', onSelect: function(rec) { displaySamples(rec); }"><br>
							<a href="#" class=" easyui - linkbutton" data-options=" iconCls: 'icon-search', plain: true" onclick=" showSamples()">Show Samples</a></td>
							<td><input id=" searching" class=" easyui - textbox" data-options=" multiline: true" value="" style=" width: 480px;height: 92px"> <a href="#" class=" easyui - linkbutton" data-options=" iconCls: 'icon-search', plain: true" onclick=" searchSamples()"><b>Search</b></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>

<div>
	Select a sample type from the list or enter sample UIDs into the search area to show samples.
</div>
