<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
});

$(function() {
	var dg = $('#dgtable').datagrid();
	dg.datagrid('enableFilter', [{
		field: 'id',
		type: 'label'
	}]);
});
</script>
<style type="text/css">
  .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>
<div id="sample_table_div" style="height:auto">
	<div style="margin:20px 0;"></div>
	<table id="dgtable" class="easyui-datagrid" title="" style="width:auto; height:800px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				selectOnCheck: false,
				url:'/seek/retrieve/samples/',
				method:'get',
				toolbar: '#tb_toolbar',
				striped: true,
				pagination : false,
				pageSize:50,
				showFooter: false,
				multiSort: true,
				remoteFilter: true
			">
		<thead>
			<tr>
				<th data-options="field:'id',width:30" sortable="true"><B>ID</B></th>
				<th data-options="field:'uid',width:200,editor:'text'" sortable="true"><B>UID</B></th>
				<th data-options="field:'sample_type',width:100" sortable="true"><B>Sample Type</B></th>
				<th data-options="field:'assays',width:120" sortable="true"><B>Assays</B></th>
				<th data-options="field:'first_name',align:'left',width:100"><B>Contributor</B></th>
				<th data-options="field:'created_at',align:'left',width:60"><B>Updated AT</B></th>
				<th data-options="field:'json_metadata',align:'left',width:900"><B>Meta Data</B></th>
			</tr>
		</thead>
	</table>
	<div id="tb_toolbar" style="height:auto">
		<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="$('#dgtable').datagrid('toExcel','samples.xls')">Export To Excel</a>
	</div>
</div>
