
<script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.min.js"></script>
<script type="text/javascript" src="type="text/javascript" src="{{ STATIC_URL }}js/buildtree/d3.layout.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
        .node {
            cursor: pointer;
        }

            .node circle {
                stroke-width: 3px;
            }
            .node text {
                font: 12px sans-serif;
                fill: #fff;
            }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

        .tree {
            margin-bottom: 10px;
            overflow: auto;
        }
</style>
<script type="text/javascript">
$(document).ready(function () {
          //build tree

          var treeData =
      {
          "name": "Top Level",
          "parent": "null",
          "children": [
            {
                "name": "Level 2: A",
                "parent": "Top Level",
                "children": [
                  {
                      "name": "Son of A",
                      "parent": "Level 2: A",
                       "children": []
                  },
                  {
                      "name": "Daughter of A",
                      "parent": "Level 2: A",
                      "children": []
                  }
                ]
            },
            {
                "name": "Level 2: B",
                "parent": "Top Level",
                "children": []
            }
          ]
      };

 
          BuildVerticaLTree(treeData1, "#tree-container");
      });
</script>
<div id="tree-container"></div>